body {
   background-color: lightgray;
   margin: 0 auto;
   font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
.navigation {
   list-style: none;
}

.navigation li{
   list-style-type: none;
   font-size: 20px;
   display: none;
   text-align: center;
   line-height: 1.5em;
   margin-right: 20px;
}

header a{
   text-decoration: none;
   color: white;
   font-size: 1.1em;
}
.navigation li:first-child{
   display: block;
}
.navigation li:hover {
   opacity: .5;
}
.responsive li{
   display: block;
}
.banner1 {
   text-align: center;
   padding: 20px;
   background-image: url("/images/american.jpeg");
   color: white;
   font-size: 1.2em;
   text-shadow: 1.5px 1.5px 0 red;
}

.bottom {
   background-color: #214366;
}
main {
   max-width: 600px;
   margin: 0 auto;
   text-align: center;
}
.main-wrapper {
    text-align: center; 
}

footer {
   text-decoration: none;
   color: white;
   text-align: center;
   font-size: 1em;
   font-family: "Mukta";
   background-color: #397CB3;
   margin: 0 auto;
   margin-top: 40px;
   padding: 10px;
}
footer a {
   font-size: 1em;
   color: white;
}

header {
   display: grid;
   grid-template-columns: 166px 1fr;
   grid-template-rows: 90px 1fr;
}
.left {
   grid-column: 1/2;
   grid-row: 1/2;
   background-color: #214366;
}

.rightup {
   grid-column: 2/3;
   grid-row: 1/2;
   background-color: #214366; 
   color: white;
   text-shadow: 1.5px 1.5px 0 black;
   line-height: 1em;
}
.rightup h3 {
   margin-left: 20px;
   font-size: 14px;
}

.rightdown {
   grid-column: 1/3;
   grid-row: 2/3;
   background-color: #397CB3;
}
.logo img{
  margin-left: 8px;
  margin-top: 3.5px;
  width: 150px;
}

#curPage {
   background-color: #214366;
}

.gallery:hover {
   transform: scale(1.02);
   cursor: pointer;
}
/* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   padding-top: 250px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0, 0, 0); /* Fallback color */
   background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
 }
 
 /* Modal Content (Image) */
 .modal-content {
   margin: auto;
   display: block;
   width: 100%;
   max-width: 700px;
 }
 
 /* Caption of Modal Image (Image Text) - Same Width as the Image */
 #captions {
   margin: auto;
   display: block;
   width: 80%;
   max-width: 700px;
   text-align: center;
   color: #ccc;
   padding: 10px 0;
   height: 150px;
   font-size: 1.5em;
 }
 
 /* Add Animation - Zoom in the Modal */
 .modal-content,
 #caption {
   animation-name: zoom;
   animation-duration: 0.6s;
 }
 
 @keyframes zoom {
   from {
     transform: scale(0);
   }
   to {
     transform: scale(1);
   }
 }
 
 /* The Close Button */
 .close {
   position: absolute;
   top: 15px;
   right: 35px;
   color: #f1f1f1;
   font-size: 40px;
   font-weight: bold;
   transition: 0.3s;
 }
 
 .close:hover,
 .close:focus {
   color: #bbb;
   text-decoration: none;
   cursor: pointer;
 }
 .gallery img{
    width: 70%;
    padding: 2px;
 }


/*Medium View*/
@media screen and (min-width:738px){
   .navigation li{
       display: inline;
       padding: 12px;    
       background-color: red;
       border-radius: 5px 5px 5px 5px;
       margin-right: 0px;
       
   }
   .navigation li:first-child{
      display: none;
   }
   .navigation {
      text-align: left;
   }
   header {
      grid-template-columns: 220px 1fr;
      grid-template-rows: 120px 1fr;
   }
   .logo img {
      width: 190px;
      margin-left: 7px;
      margin-top: 7px;
   }
   .rightup h3 {
      margin-left: 20px;
      font-size: 1.1em;
   }
   .banner1 {
      padding: 20px; 
      font-size: 1.4em;
   }
   .modal-content {
      width: 80%;
    }
    
    .gallery img{
       width: 100%;
    }
    .galleryPage{
      display: grid;
      grid-template-columns: 1fr 1fr;  
      grid-gap: 10px;
   }
   .row2{
      grid-row: 2;
   }
   
   
}



/*Large View*/
@media screen and (min-width:1070px){
   .navigation li{
       display: inline;
       padding: 12px;    
       background-color: red;
       border-radius: 5px 5px 5px 5px;
       
   }
   
   header {
      display: grid;
      grid-template-columns: 320px 1fr;
      grid-template-rows: 1fr 60px;
   }
   .left {
      grid-column: 1;
      grid-row: 1/3;
      background-color: #397CB3;
      position: relative;
      z-index: 9;
   }
   .left::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 60px;
      left: 0;
      background-color: #214366;
   }
   .rightup {
      grid-column: 2/3;
      grid-row: 1/2;
      background-color: #214366;
      padding: 8px 0px;
      color: white;
      height: 100px;
      text-shadow: 1.5px 1.5px 0 black;
      line-height: 1em;
   }
   .rightup h3 {
      margin-left: 20px;
   }
   
   .rightdown {
      grid-column: 2/3;
      grid-row: 2/3;
      background-color: #397CB3;
   }
   .logo img{
     margin-left: 8px;
     margin-top: 6px;
     width: 300px;
   }
   
   .galleryPage {
      grid-template-rows: 173px 128px 173px 163px;
   }
   .galleryPage img{
      box-shadow: 3px 3px 10px black;
   }
   
   .row1{
      display: grid;
      grid-template-columns: 308.16px 260.16px;
      grid-gap: 10px;
      padding-top: 10px;
   }
   .row2{
      display: grid;
      grid-template-columns: 192px 192px 183px;
      grid-gap: 5px;
      padding-top: 2px;
   }
   .row3{
      display: grid;
      grid-template-columns: 260.16px 306.24px;
      grid-gap: 10px;
      padding-top: 2px;
   }
   .row4{
      display: grid;
      grid-template-columns: 216.96px 354.24px;
      grid-gap: 10px;
      padding-top: 2px;
   }
   .gallery img{
      width: 100%;
      padding: 0px;
   }
   .galleryPage{
      display: block; 
   }
  
         
  
      
}
