/*HTML SELECTORS*/
* {
   margin: 0; box-sizing: border-box;
} 
body {
   font-size: 16px;
   line-height: 32px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: #000;
}
img {
   width: 300px;
}
h1 h2 {
   font-family: 'Mukta', Arial, sans-serif;
}
h1 {
   font-size: 2.4rem;
   text-align: center;
   color: black;
}
h2 {
   font-size: 2.0rem;
   text-align: center;
   border-bottom: 1px solid #bbb;
}
header, main, footer {
   margin: 1.25rem auto;
   padding: .5rem;
   max-width: 800px;
}
header, footer, footer a {
   text-align: center;
   background-color: rgb(40, 190, 128);
   color: black;
}
header img {
   width: 150px;
   height: auto;
   float: right;
}
footer  {
   font-size: larger;
}
ul {
   margin: 0 auto;
   max-width: 600px;
}

/* ID SELECTORS */
.grid {
   display: grid;
   grid-gap: 10px;
   max-width:80%;
   grid-template-columns: 1fr;
}
.grid-section {
   background-color: darkslategrey;
   color: white;
   border-radius: 15px;
   text-align: left;
   padding: 12px;
}