/*HTML SELECTORS*/
* {
   margin: 0; box-sizing: border-box;
} 
body {
   font-size: 16px;
   line-height: 32px;
   max-width: 780px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: #000;
   display: block;
   float: none;
}

h1 {
   font-family: 'Mukta', Arial, sans-serif;
   font-size: 2.4rem;
   text-align: center;
   color: black;
}
img {
   max-width: 100%;
   display: block;
}
header, footer {
   margin: 1.25rem auto;
   padding: .5rem;
   max-width: 800px;
   text-align: center;
   background-color: rgb(40, 190, 128);
   color: black;
}
main {
   display: grid;
   grid-gap: 10px;
   grid-template-columns: 1fr;
}
.one, .two, .three {
   background-color: darkslategrey;
   color: white;
   border-radius: 15px;
   text-align: left;
   padding: 12px;
}
