body {
   background-color: lightgray;
   margin: 0 auto;
   font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.navigation {
   list-style: none;
}

.navigation li{
   list-style-type: none;
   font-size: 20px;
   display: none;
   text-align: center;
   line-height: 1.5em;
   margin-right: 20px;
}

header a{
   text-decoration: none;
   color: white;
   font-size: 1.1em;
}
.navigation li:first-child{
   display: block;
}
.navigation li:hover {
   opacity: .5;
}
.responsive li{
   display: block;
}
header {
   background-color: #397CB3;
   padding: 8px 0px;
   color: white;
}
header a{
   color: white;
   text-decoration: none;
   font-size: 1.1em;
}

main {
   margin: 50px;
   background-color: white;
}
.meat {
   padding: 10px;
}
.main-wrapper {
   background-color: #214366;
    padding:20px;
    margin-top: 20px;
    text-align: center;
    color: white;
}
footer {
   text-decoration: none;
   padding-bottom: 5px;
   color: #214366;
   margin: 50px;
   text-align: center;
   font-size: 1em;
}
footer a {
   font-size: 1em;
   color: #214366;
}
#backlink{
   margin-left: 10px;
   text-decoration: underline;
}


/*Medium View*/
@media screen and (min-width:900px){
   .navigation li{
      display: inline;
      padding: 12px;    
      background-color: red;
      border-radius: 5px 5px 5px 5px;
      margin-right: 0px;
      
      
  }
  .navigation{
     margin-left: 300px;
  }
  .navigation li:first-child{
     display: none;
  }
  .navigation {
     text-align: left;
  }

}
