
   /* Code for the input form */
main{
   width: 400px;
   margin: auto;
   padding-bottom: 50px;
}
main h2{
   text-align: center;
}
footer{
   background-color: #397CB3;
   margin: 0 auto;
   padding: 10px;
   color: white;
}
footer a {
   color: white;
}
h2 span{
   color: black;
   text-shadow: 1.5px 1.5px white;
   font-size: 1.3em;
}


form fieldset {
   border: 1px solid #397CB3;
   margin: 15px;
   border-radius: 10px;
   padding: 0.5rem;
   text-align: center;
}

form legend {
   color: #397CB3;
   margin: 0 1rem;
   padding: 0 0.5rem;
}

form label.top, form div {
   display: block;
   padding-top: 1rem;
   color: #214366;
   font-size: 0.8rem;
}

form label.top input, form label.top select {
   -webkit-appearance: none;
   display: block;
   font-size: 1rem;
   border: solid 1px #999;
   border-radius: 4px;
   padding: 0.75rem;
   color: #555;
   width: 100%;
   max-width: 20rem;
   background-color: rgba(0,0,0,0.1);
   margin: auto;
}

form label.sbs {
   display: block;
   padding: 0.5rem 0;
   color: #555;
}

form input.submitBtn {
   border: none;
   background-color: #214366;
   color: white;
   border-radius: 1rem;
   padding: 0.75rem 1.5rem;
   width: 96%;
   max-width: 20rem;
   margin-left: 10%;
}

form label.top input:required {
   border-left: red solid 4px;
}

form label.top input:required:valid {
   border-left: solid 1px #999;
}

/* Code for the contact section */


.contact img {
  display: none;
}

/*Medium View*/
@media screen and (min-width:738px){
   main{
      width: 700px;
   }
   form input.submitBtn {
      margin-left: 27%;
   }
}