* {
   font-family: "verdana";
}

img {
   padding-top: 15px;
   padding-bottom: 15px;
}

body {
   background-color: whitesmoke;
}

main {
   background-color: rgb(208, 218, 224);
   text-align: center;
   border-top: 15px solid rgb(255, 1, 1);
   max-width: 800px;
   margin: auto;
   margin-top: 50px;
}

main h1 {
   font-size: 40px;
}

#missingwrapper {
   max-width: 500px;
   margin: 0 auto;
   text-align: center;
   background-color: white;
}

#missingwrapper img {
   align-self: center;
   margin-top: 15px;
   margin-bottom: 15px;
   width: 85%;
}

#information {
   margin-top: 15px;
}

#information section {
   display: grid;
   grid-template-columns: 1fr 1fr;
   max-width: 500px;
   margin: 0 auto;
}

#information section h2 {
   grid-column: 1/-1;
   border-top: 1px solid black;
   padding-top: 10px;
}

#information section p:nth-child(odd) {
   text-align: left;
}

#information section p:nth-child(even) {
   font-weight: bold;
   font-size: 18px;
}